body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    padding: 40px;
}

/* container principal */
.form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 450px;
    margin: auto;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
}

/* Estilo base de botões */
.btn {
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    transition: 0.3s;
    margin: 0.5rem;
}

/* Botão verde */
.btn-verde {
    background: linear-gradient(135deg, #71ff0b, #0dc128);
}

.btn-verde:hover {
    background: linear-gradient(135deg, #5bd408, #0b9e1f);
    transform: scale(1.05);
}

/* Botão azul */
.btn-azul {
    background: linear-gradient(135deg, #4facfe, #00f2fe);
}

.btn-azul:hover {
    background: linear-gradient(135deg, #00f2fe, #4facfe);
    transform: scale(1.05);
}

/* resultado */
.result {
    background: #e7ffe7;
    border: 1px solid #d01e1e;
    padding: 10px;
    margin-top: 20px;
    max-width: 400px;
    margin: 20px auto;
}
